
  @font-face{
    font-family:"Arpona";
    src:url("../assets/fonts/arpona-regular.otf") format("opentype");
    font-weight:400;font-style:normal;font-display:swap;
  }
  @font-face{
    font-family:"Arpona";
    src:url("../assets/fonts/arpona-italic.otf") format("opentype");
    font-weight:400;font-style:italic;font-display:swap;
  }
  @font-face{
    font-family:"Arpona";
    src:url("../assets/fonts/arpona-medium.otf") format("opentype");
    font-weight:500;font-style:normal;font-display:swap;
  }
  @font-face{
    font-family:"Arpona";
    src:url("../assets/fonts/arpona-medium-italic.otf") format("opentype");
    font-weight:500;font-style:italic;font-display:swap;
  }
  @font-face{
    font-family:"Arpona";
    src:url("../assets/fonts/arpona-semibold.otf") format("opentype");
    font-weight:600;font-style:normal;font-display:swap;
  }
  @font-face{
    font-family:"Arpona";
    src:url("../assets/fonts/arpona-bold.otf") format("opentype");
    font-weight:700;font-style:normal;font-display:swap;
  }
  @font-face{
    font-family:"Arpona";
    src:url("../assets/fonts/arpona-bold-italic.otf") format("opentype");
    font-weight:700;font-style:italic;font-display:swap;
  }
  @font-face{
    font-family:"Arpona";
    src:url("../assets/fonts/arpona-extrabold.otf") format("opentype");
    font-weight:800;font-style:normal;font-display:swap;
  }
  @font-face{
    font-family:"Arpona";
    src:url("../assets/fonts/arpona-black.otf") format("opentype");
    font-weight:900;font-style:normal;font-display:swap;
  }
  @font-face{
    font-family:"Inter";
    src:url("../assets/fonts/inter-variable.ttf") format("truetype-variations");
    font-weight:100 900;font-style:normal;font-display:swap;
  }
  @font-face{
    font-family:"Inter";
    src:url("../assets/fonts/inter-variable-italic.ttf") format("truetype-variations");
    font-weight:100 900;font-style:italic;font-display:swap;
  }
